.panel-default > .panel-heading {
	/*background: linear-gradient(to right, #cf246a 0, #ff942e 100%) repeat scroll 0 0 transparent; */
	background-color: #323a45;
	border-left: #cf246a;
	border-right: #ff942e;
	color: #fff;
	padding: 7px 5px;
	border-top-right-radius: 0px; 
	border-top-left-radius: 0px;
}

.panel-default > .panel-heading h3{
	font-size: 14px;
}

#rowwidget {
	
	margin: 0px auto !important;
}

#recent_topics, #recent_topics p {
	/* overflow-y: hidden;
	overflow-x: hidden; */
 
	list-style: none;
	font-size: 11px;
	margin:0px; padding:0px;
}

#big {
	overflow: hidden !important;
	white-space:nowrap !important;
	text-overflow:ellipsis !important;
	width: 90%;
	display:inline-block !important;
	font-size: 13px !important;
	 margin-bottom: 1px; 
}

#big:first-letter {
	text-transform:uppercase;
}

#sub > p {
	
	margin-top: 2px !important;
}
#sub a { 
	color: #2e3539;
}	
#sub a:hover{
	
	text-decoration: none !important;
	color: #cf246a;
}

#recent_topics > li{
	/* float:left; */
	/*margin-right: 20px; */
	/* width: 130px; */
}

#recent_topics > li:last-child hr {
	display:none;
}

#recent_topics > li > .image{
	display:block;
	float:left;
	margin-right:10px;
	margin-top: 10px;
}

#recent_topics > li > .image,
#recent_topics > li > .image > img{
	width:24px; height:24px;
}

.cat-icon {
	margin-top: 4px;
	text-align: center;
	width: 20px;
	color: #555;
	font-size: 1.5em !important;
}

.badge {
	padding: 1px 9px 2px;
	font-size: 12.025px;
	font-weight: bold;
	white-space: nowrap;
	color: #ffffff;
	background-color: #999999;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

.forum-stats .stats-card {
	text-align: center;
}

.forum-stats .stats-card h2 {
	line-height: 25px;
	margin-bottom: 5px;
	margin-bottom: 5px;
}


.popular-tags {
	font-size: 20px;
	text-align: center;
}

.popular-tags > span {
	margin-bottom: 10px;
}

.color-primario{
	color: #cf246a;
}

.tooltipwidget {
	
}
/*darkmode */

.panel-default > .panel-heading.dark {
	background: linear-gradient(to right, #009f9f 0, #346074 100%) repeat scroll 0 0 transparent;
	color: #fff;
}
#sub a.dark { 
	color: #9d9d9d;
}
#sub a:hover.dark{
	
	color: #009f9f;
}
hr.dark {
	border-top: 1px solid #565656;
}
.cat-icon.dark{
	color: #c8c8c8;
}


